services:
  - type: web
    name: works-on-my-machine-api
    env: node
    region: singapore
    plan: free
    buildCommand: pnpm install --prod=false && pnpm --filter api exec prisma generate --schema prisma/schema.prisma && pnpm --filter api build
    startCommand: pnpm --filter api exec prisma generate --schema prisma/schema.prisma && pnpm --filter api exec prisma db push --schema prisma/schema.prisma --skip-generate && pnpm --filter api exec prisma db seed --schema prisma/schema.prisma && pnpm --filter api build && pnpm --filter api start
    envVars:
      - key: NODE_ENV
        value: production
      - key: JWT_SECRET
        sync: false
      - key: WEB_ORIGIN
        value: https://zaidmonis.github.io
      - key: DATABASE_URL
        value: file:./dev.db
